@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Happy Monkey', cursive;
}
main{
    background-image: url(./Assets/fundo.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(80, 25, 25);
    width: 60vw;
    box-shadow: 2px 2px 2px 2px;
    height: 50vh;
    border-radius: 20px;
    opacity: 0.9;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    position: relative;
    bottom: 30px;
    color: antiquewhite;
}
h3{
    font-size: 1.4rem;
    color: antiquewhite;
}

p{
    font-weight: 400;
    font-size: 1.1rem;
    color: antiquewhite;
}

button{
    cursor: pointer;
    background: brown;
    border: none;
    border-radius: 3px;
    transition: 300ms;
}
button:hover{
    transition: 300ms;
    scale: 1.1;
}


@keyframes coffe {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

figure{
    width: 18vw;
}
  
  img {
    width: 256px;
    height: 256px;
    animation-name: coffe;
    animation-duration: 2s;
  }
  
